@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager

@page "/Room/{_roomName}/{_username}"

<h3>Room</h3>

<div class="container" id="pnlJoin">
	<div class="row">
		<div class="col-sm">
			<h3>Join Room</h3>
			<input @bind="_roomName" />
			<br />
			<input type="button" value="Join Room" @onclick="JoinRoom" />
		</div>
	</div>
</div>

<div class="container" id="pnlChat">

</div>

@code {
	[Parameter]
	public string _roomName { get; set; }
	[Parameter]
	public string _username { get; set; }

	private HubConnection _hubConnection;

	protected override async Task OnInitializedAsync()
	{
		// Check if room exists
		_hubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"))
			.Build();

		// Joining a room successful
		_hubConnection.On<string>("RoomJoined", (roomName) =>
		{
			// Room has been joined
		});

		await _hubConnection.StartAsync();
	}

	private async Task JoinRoom()
	{
		// Join the room
		await _hubConnection.SendAsync("JoinRoom", _roomName);
	}

}
